#shopping_cart{ 
    display: none;
}
.material-symbols-outlined {
    font-size: 48px !important;
    position: relative;
    left: 90%;
}
.shopflex {
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}