nav{
    margin-bottom: 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

nav a:hover{
    color: var(--text-color)
}